/* Color variables map */

:root {
  --black: #0d1116;
  --gray-black:#343a3f;
  --red: #f37f7f;
  --cherry-red:#b23838;
  --white: #ffffff;
  --green: #64da4f;
  --navy-blue: #1b2334;
  --light-green:#bdc7a0;
}

/* Back to top button */


#toTopButton {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  left: 20px; 
  z-index: 999; 
  border: none; 
  background-color: var(--white);
  color: var(--black);
  cursor: pointer; 
  padding: 16px; 
  border-radius: 4px; 
  font-size: 15px; 
}

#toTopButton:hover {
  background-color: var(--cherry-red); 
  color: var(--white);
}


/* Navigation */

nav {
  display: flex;
  position: sticky;
  width: 100%;
  padding: auto 10%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: var(--black);
  padding-bottom:20px;
}

.logo {
  height: 100px;
  margin-left: 50%;
  padding-top:26px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-around;
  position: relative;
  padding-top: 30px;

}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--white);
  margin: auto 3vw;
  text-decoration: none;
  justify-content: space-between;
  font-size: 32px;
}
.nav-links a:hover {
  color: var(--red);
}

.active-link {
  color: var(--red) !important;
}

.hamburger-menu {
  display: none;
  margin-right: 4%;
  cursor:pointer !important;
}

.hamburger-menu div {
  width: 35px;
  height: 3px;
  border-radius: 4px;
  background-color: var(--white);
  margin: 9px;
  transition: all 0.3s ease;
}

/* Body Section*/

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--black);
  color: var(--white);
}

.genre-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 60px;
  margin-right: 9%;
}

.genre-wrapper select {
  border: 2px solid var(--white);
  padding: 9px;
  background: none;
  color: var(--white);
  width: 150px;
  font-size: 23px;
  display: flex !important;
  align-items: center !important;
  text-align-last: center;
}

section {
  padding-top: 40px;
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Movies Section */

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  align-items: center;
}

.container img {
  height: 300px;
  width: auto;
}

.container img:hover {
  transform: scale(1.1);
  transition: transform 0.9s;
}

.text-wrapper {
  display: flex;
}

.text-wrapper p {
  margin-top: 20px;
  font-size: 20px;
}

.text-wrapper p:nth-child(1) {
  background-color: var(--cherry-red);
  border-radius: 20px;
  padding: 0 12px;
  margin-right: 10px;
}

#all-movies {
  font-weight: lighter;
  text-align: center;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

/* Contact us page */

.contact-form-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-items {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border-radius: 4px;
  background-color: var(--gray-black);
  padding: 40px 40px 0px 40px;
}

.x-mark {
  align-self: flex-end;
}
.x-mark:hover {
  color: var(--red);
  cursor: pointer;
}

.contact-form-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-form-heading h2 {
  font-weight: lighter;
  color: var(--black);
  color: var(--light-green);
  margin-bottom: 0;
}
.contact-form-heading p {
  color: var(--white);
  padding-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 36px;
}
.contact-form textarea {
  padding: 16px;
  border-radius: 12px;
}

.contact-form-btn {
  padding: 8px;
  margin-top: 24px;
  background: var(--green);
  border: none;
  cursor: pointer;
  border-radius: 12px;
  color: black;
  text-align: center;
  text-decoration: none;
}

.contact-form-btn:hover {
  background: var(--light-green);
  color: var(--white);
}

.contact-form-btn a {
  color: var(--black);
  font-size: 16px;
}

/* Success message page */

.success-desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}

.success-page-btn-wrapper {
  padding-top: 40px;
}
/* About us page */

.wrapper {
  display: flex;
  min-height: 700px;
}

.about-us-container {
  display: flex;
}

.about-us-information {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.about-us-illustration {
  flex: 1;
  background-image: url("./pictures/about-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-radius: 4px;
  background-color: var(--gray-black);
  padding: 40px 40px 0px 40px;
  text-align: center;
  margin-top: 30px;
}

/* Movie detail page */

.movie-detail-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

.movie-wrapper {
  width: 700px;
  border-radius: 4px;
  background-color: var(--navy-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.x-mark {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  align-self: flex-start;
  margin: 40px 40px 30px;
}

.movie-header {
  display: flex;
  flex-direction: column;
}

.movie-header img {
  height: 540px;
}

.rating-container {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -25px;
}

.buttons-container {
  display: flex;
  gap: 20px;
  padding-top: 11px;
}

.extra-padding {
  padding: 41px 0px 60px;
}

.button-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: var(--white);
  background: var(--navy-blue);
  padding: 14px;
  width: 220px;
  border: none;
  outline: 2px solid var(--white);
  border-radius: 37px;
  cursor: pointer;
}
.button-link-filled {
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: var(--white);
  background: var(--green);
  padding: 14px;
  width: 220px;
  border: none;
  outline: 2px solid var(--navy-blue);
  border-radius: 37px;
  cursor: pointer;
}

.button-link-filled:hover {
  background: var(--light-green);
}

.button-link:hover {
  outline: 2px solid var(--red);
  color: var(--red);
}

.movie-desc {
  padding-bottom: 45px;
  text-align: center;
  margin: 0 10%;
  padding-top: 25px;
}

/* Purchase page */

.purchase-container {
  display: flex;
  flex-direction: column;
  background: var(--navy-blue);
  width: 700px;
  align-items: center;
  justify-content: center;
}

.payment-info-wrapper {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
}

input[type="text"] {
  padding: 11px;
  border-radius: 10px;
}

input[type="number"] {
  padding: 11px;
  width: 10%;
  border-radius: 10px;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

#security-code::-webkit-inner-spin-button {
  opacity: 0;
}

/* Purchase - Success page */

table,
th {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  padding: 4px;
}

table {
  empty-cells: hide;
}

td {
  padding-top: 20px;
}

.purchase-success-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-success-wrapper a {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Mobile Screen */

@media only screen and (max-width: 996px) {
/* Hamburger Menu */
  body {
    overflow-x: hidden;
  }
  
  .nav-links {
    position: fixed;
    margin: 0;
    right: 0;
    top: 106px;
    min-width: 50vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links a {
    font-size: 22px !important;
  }
  
  .hamburger-menu {
    display: block;
    padding-top: 30px;
    margin-right: 11%;
  }
  
  .navbar-active {
    transform: translateX(0%) !important;
  }
  
  .nav-links li {
    opacity: 0%;
  }
}


@media only screen and (max-width: 600px) {

  .nav-links {
    padding-top: 20px;
    padding-left: 0;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
  }

  .genre-wrapper {
    align-self: center;
    margin-right: 0;
    margin-top: 9px;
  }

  .container {
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-left: 0;
  }
  section {
    align-items: center;
    grid-template-columns: 1fr;
  }

  .contact-form-items {
    width: 210px;
    margin-bottom: 20px;
  }

  .logo {
    height: 60px;
  }
  .x-mark {
    margin: 0;
  }

  .about-form-items {
    width: 210px;
    height: 360px;
  }

  .movie-header img {
    height: 200px;
  }

  .movie-wrapper {
    margin: 0;
    width: 340px;
  }

  .button-link {
    padding: 10px;
  }

  .buttons-container {
    flex-direction: column;
  }

  .movie-detail-section {
    margin: 0;
  }

  .movie-wrapper .x-mark {
    margin: 20px;
  }

  .purchase-container {
    width: 340px;
  }

  .purchase-container .x-mark {
    margin: 20px;
  }

  .payment-info-wrapper {
    padding: 20px;
  }

  .buttons-container {
    align-self: center;
  }
}

/* Hamburger navbar animation */

@keyframes linkAnimateIn {
  from {
    opacity: 0%;
    transform: translateX(50px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes linkAnimateOut{
    from{
        opacity: 100%;
        transform: translateX(0px);
    }
    to{
        opacity: 0%;
        transform: translateX(50px);
    }
}

